body, html{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100vh;
}

body{
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body > section{
    overflow-y: auto;
}
